.menu-container-wrapper {
	width: 50%;
	height: 70%;
	display: flex;
	margin: 0 auto;
	top: 50%;
}

.menu-container {
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
}

.main-menu {
	background: #449DD1;
	flex-direction: column;
}

.main-menu-title {
	color: #effcf8;
	font-size: 2.8rem;
	margin-bottom: 1rem;
}

.main-menu-list {
	width: 70%;
	display: flex;
	margin: 0 auto;
}

ul {
	list-style-type:none;
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.menu-item-wrapper {
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	width: 100%;
	display: flex;
}

.menu-item {
	width: 100%;
}

.menu-item span {
	font-size: 1.2rem;
}

/*-----------------------*/

.join-menu {
	background: #49516F;
	flex-direction: column;
}

.title-wrapper {
	display: flex;
	height: 30%;
}

.payload-wrapper {
	display: flex;
	height: 70%;
}

.buttons-wrapper {
	display: flex;
	flex-grow: 1;
}

.title {
	margin-top: 3rem;
}

.title span {
	color: white;
	font-size: 2rem;
}

/*-----------------------*/

.display-flex {
	display: flex;
}

.display-none {
	display: none;
}

/*---------------------*/

